res
lib
obj
include
bin
resources
tools/plink/archive
tools/plink/plink-resources
tools/plink/*.txt
tools/tassel/*.txt
tools/gapit/gapit-resources
tools/gcta/gcta-resources
tools/gcta/*.txt
tools/fastlmm/*.txt

